@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --cor-1:#060273 ;
    --cor-2: #012340;
    --cor-3: #025E73;
    --cor-4:#18D9C5;
    --cor-5:#0D0D0D;
    --fonte-principal: 'DM Sans';
    --fonte-2: 'Space Grotesk';
    --fonte-3: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo do background */
body {
    background-color: var(--cor-5);
    color: white;
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/4086262-programacao-codigo-codificacao-ou-hacker-fundo-programacao-codigo-icone-feito-com-codigo-binario-digital-dados-binarios-e-streaming-codigo-digital-matriz-fundo-com-digitos-1-ilustracaoial-0-vetor.jpg");
    background-repeat: no-repeat;
}

/* Estilo do cabeçalho */
header{
    top: 0px;
}
.nome {
    display: inline;
    color: white;
    margin-left: 30px;
}
ul {
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: var(--cor-2);
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
    font-family: var(--fonte-principal);
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

/*quando passa o mouse sobre o link muda a cor*/
li a:hover {
    background-color:#001629
}

/*quando clicado no link muda a cor*/
li a:active {
    background-color: var(--cor-3);
}
.isabela{
    padding: 0px 800px 0px 30px;
    font-size: large;
    font-weight: 600;
    font-family: var(--fonte-principal);
}
.isabela:hover {
    background-color:var(--cor-2)}

/*adiciona uma camada translucida sobre a imagem do background*/
.overlay {
    background-color:var(--cor-5);
    opacity: 0.8;
    width: 100%;
    height: 137%;
    position: absolute;
    top: 0;
    left: 0;
}
.container {
    display: flex;
    font-family: var(--fonte-principal);
}

/*ajusta a posição da imagem e trás o conteudo pra frente do background*/
.imagem {
    z-index: 1;
    width: 50%;
}
.conteudo {
    z-index: 1;
    display: flex;
    margin-top: 15%;
    flex-direction: column;
    width: 50%;
    gap: 40px;
    margin-bottom: 30%;
}
/* Estilo da "home" */
h1.home{
    color: var(--cor-4);
}
/* ajusta o formato da imagem e posição */
img.imagem-isabela {
    width: 50%;
    border-radius: 100% 100% 100% 100%;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
}
/* posicionamento dos icones */
.icons {
    width: 30px;
    justify-content: space-between;
    cursor: pointer;
    padding-right: 40px;
}

/* Estilo da "sobre mim" */
h1.sobre {
    color: var(--cor-4);
    padding: 12% 0% 2% 45%;
    font-size: 32px;
    font-family: var(--fonte-principal);
}
.sobremim {
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 0% 20% 30% 20%;
    text-align: justify;
    font-size: 20px;
}
/* Estilo da "formação" */
h1.form {
    color: var(--cor-4);
    padding: 16% 0% 10% 45%;
    font-size: 32px;
    font-family: var(--fonte-principal);
}
/* ajuste da posição dos elementos de imagem e texto */
.box {
    justify-content: space-between;
    padding-right: 40px;
    padding: 0% 20% 30% 20%;
    gap: 10%;
    display: flex;
    width: 100%;
    font-family: var(--fonte-principal);
    font-size: 20px;
}

/* Estilo da "portfolio" */
.container3{
    padding: 0% 0% 40% 0%;
}
h1.port{
    color: var(--cor-4);
    padding: 12% 0% 2% 45%;
    font-size: 32px;
    font-family: var(--fonte-principal);
}
/* estilo dos cards */
div.portfolio{
    margin: 90px;
    border: 1px solid var(--cor-3);
    border-radius: 10px;
    float:left;
    width: 300px;
    background-color:var(--cor-2);
    font-family: var(--fonte-principal);
}

div.portfolio:hover {
    border: 1px solid var(--cor-4);
}

div.portfolio img {
    width: 298px;
    border-radius: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Estilo da "contato" */
h1.cont{
    color: var(--cor-4);
    padding: 10% 0% 2% 45%;
    font-size: 32px;
    font-family: var(--fonte-principal);
}
.contato {
    font-family: var(--fonte-principal);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 20% 40% 20%;
    border-radius: 4px;
    border: none;
}
/* estilo dos formularios */
input, textarea { 
    border-radius: 5px;
}
input[type=submit] {
    background-color: var(--cor-3);
    width: 25%;
    color: white;
    padding: 12px 60px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    border: none;
}

/* Gradiente aplicado no background */
#grad {
    background-image: linear-gradient(to right, #0D0D0D , #012340,#025E73);
}

/* Estilo do rodapé */
footer {
    color:white;
    padding: 1.5%;
    font-family: var(--fonte-3);
    display: flex;
    justify-content: center;
}

/* responsividade*/
@media (max-width: 1200px){
    

header {
    font-size: 12px;
    display: inline-block;
}

ul {
    position: absolute;
    background-color:var(--cor-2);
    min-width: 400px;
    z-index: 2;
}

li a {
    display:block;
    padding: 1px 16px;
    text-decoration: none;
}

li a {
        justify-content: center;
    }

.isabela {
    padding-left: 150px;
    padding-bottom: 5px;
    font-size: 12px;
}

.overlay {
        background-color:var(--cor-5);
        opacity: 0.8;
        width: 200%;
        height: 117%;
        position: absolute;
        top: 0;
        left: 0;
}
    .container {
        flex-direction: column;
        padding: 20% 10%;
    }

    .imagem {
        width: auto;
        justify-content:center;
    }

    .conteudo {
        width: auto;
        margin-bottom: 10%;
    }
    h1.sobre {
        color: var(--cor-4);
        padding: 30px 0px 30px 0px;
    }
    .sobremim {
        z-index: 1;
        display: flex;
        width: 100%;
    }

div.portfolio{
    margin: 50px;
}

h1.sobre{
    padding: 16% 0% 10% 30%;}
h1.form {
    padding: 16% 0% 10% 35%;}
h1.port{
    padding: 12% 0% 2% 35%;}
h1.cont{
    padding: 10% 0% 2% 35%;}

}